<div>

    <h1>Editar Línea de Transmisión</h1>

    <buscador [datos]="datosQuemados" [accionInput]="'Identificador'" [accionPlaceholder]="'identificador'"
        (valorBuscado)="procesarBusqueda($event)"></buscador>

    @if (formularioVisible) {
    <form>

        <section>
            <label>NOMBRE DE LÍNEA DE TRANSMISIÓN</label>
            <input type="text" placeholder="Inserte un nombre">
        </section>

        <div class="contenedor-botones">

            <section>
                <button mat-stroked-button type="button">LIMPIAR</button>
                <button mat-stroked-button type="submit">ACTUALIZAR</button>
            </section>
        </div>


    </form>

    }

    <button mat-stroked-button type="button" routerLink="/menu-administrador">VOLVER</button>

</div>