<div>

    <div class="contenedor-principal">

        <div></div>

        <div class="contenedor-form">

            <form>
                <h2>Agregar Supervisor</h2>
                <section class="row mb-3 align-items-center">
                    <label class="col-md-4">NOMBRE DE USUARIO</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="Inserte un nombre de usuario único">
                    </div>
                </section>

                <section class="row mb-3 align-items-center">
                    <label class="col-md-4">CONTRASEÑA</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="Inserte una contraseña">
                    </div>
                </section>

                <section class="row mb-3 align-items-center">
                    <label class="col-md-4">TIPO</label>
                    <div class="col-md-8">

                        <select>
                            <option value="TPM">Técnico de Protección y Medición</option>
                            <option value="TLT">Técnico de Línea de Transmisión</option>
                        </select>

                    </div>

                </section>

                <section class="row mb-3 align-items-center">
                    <label class="col-md-4">UNIDAD REGIONAL ASIGNADA</label>

                    <div class="col-md-8">

                        <select>
                            <option value="TPM">Desamparados</option>
                            <option value="TLT">Orosi</option>
                        </select>

                    </div>

                </section>


                <div class="contenedor-botones row mb-3 align-items-center">

                    <div class="col-md-3 col-12">
                        <button class="btn btn-volver" mat-stroked-button type="button"
                            routerLink="/menu-administrador">VOLVER</button>
                    </div>

                    <div class="col-md-9 col-12">
                        <button class="btn btn-limpiar" mat-stroked-button type="button">LIMPIAR</button>
                        <button class="btn btn-agregar" mat-stroked-button type="submit">GUARDAR</button>
                    </div>
                </div>

            </form>




        </div>

    </div>

</div>