<div>

    <h1>Editar Supervisor</h1>

    <buscador [datos]="datosQuemados" [accionInput]="'Identificador'" [accionPlaceholder]="'identificador'"
        (valorBuscado)="procesarBusqueda($event)"></buscador>

    @if (formularioVisible) {
    <form>

        <section>
            <label>NOMBRE DE USUARIO</label>
            
            <input type="text" placeholder="Inserte un nombre de usuario único">            
        </section>

        <section>
            <label>CONTRASEÑA</label>
            
            <input type="text" placeholder="Inserte una contraseña">            
        </section>

        <section>
            <label>UNIDAD REGIONAL ASIGNADA</label>
            <select >
                <option value="TPM">Desamparados</option>
                <option value="TLT">Orosi</option>
            </select>
        </section>
        
        <div class="contenedor-botones">

            <section>
                <button mat-stroked-button type="button">LIMPIAR</button>
                <button mat-stroked-button type="submit">ACTUALIZAR</button>
            </section>
        </div>


    </form>

    }

    <button mat-stroked-button type="button" routerLink="/menu-administrador">VOLVER</button>

</div>

