<div>

    <h1>Editar Técnico</h1>

    <buscador [datos]="datosQuemados" [accionInput]="'Nombre de usuario'" [accionPlaceholder]="'el usuario'"
        (valorBuscado)="procesarBusqueda($event)"></buscador>

    @if (formularioVisible) {
    <form [formGroup]="contenedorFormulario">

        <section>
            <label>NOMBRE DE USUARIO</label>
            
            <input type="text" placeholder="Inserte un nombre de usuario único"
            [formControl]="contenedorFormulario.controls.nombreUsuario">            
        </section>

        <section>
            <label>CONTRASEÑA</label>
            
            <input type="text" placeholder="Inserte una contraseña"
            [formControl]="contenedorFormulario.controls.contrasenia">            
        </section>

        <section>
            <label>UNIDAD REGIONAL ASIGNADA</label>
            <select [formControl]="contenedorFormulario.controls.unidadRegional">
                <option value="TPM">Desamparados</option>
                <option value="TLT">Orosi</option>
            </select>
        </section>
        
        <div class="contenedor-botones">

            <section>
                <button mat-stroked-button type="button"
                (click)="accionesFormulario.limpiarFormulario(contenedorFormulario)">LIMPIAR</button>
                <button mat-stroked-button type="submit"
                [disabled]="contenedorFormulario.invalid">ACTUALIZAR</button>
            </section>
        </div>


    </form>

    }

    <button mat-stroked-button type="button" routerLink="/menu-administrador">VOLVER</button>

</div>
