<div class="form-container">
  <form>
    <h2>Crear reporte nuevo</h2>


    <!-- NOTA:

      Aplicar alguna logica si se ve necesario para que la linea de transmision y subestacione esten ya filtradas en los select
      segun la subestacion actual del TPM que esta creando la subestacion
    -->

    <!-- Línea de Transmisión -->
    <section class="row mb-3 align-items-center">
      <label class="col-md-4">LINEA DE TRANSMISION:</label>
      <div class="col-md-8">
        <select>
          <option value="QZT8">QZT8</option>
        </select>
      </div>
    </section>

    <!-- Subestaciones Asociadas -->
    <section class="row mb-3 align-items-center">
      <label class="col-md-4">SUBESTACIONES ASOCIADAS:</label>
      <div class="col-md-8">
        <label><input type="checkbox" name="subestaciones" value="desamparados"> Desamparados</label><br>
        <label><input type="checkbox" name="subestaciones" value="turrialba"> Turrialba</label><br>
        <label><input type="checkbox" name="subestaciones" value="san_jose"> San José</label><br>
        <label><input type="checkbox" name="subestaciones" value="alajuela"> Alajuela</label>
      </div>
    </section>

    <section class="row mb-3 align-items-center">
      <label class="col-md-4">Supervisor:</label>
      <div class="col-md-8">
        <select>
          <option value="Lorem Ipsum">Lorem Ipsum</option>
          <option value="Lorem Ipsum">Lorem Ipsum</option>
        </select>
      </div>
    </section>

    <section class="row mb-3 align-items-center">
      <label class="col-md-4">Técnico de Línea:</label>
      <div class="col-md-8">
        <select>
          <option value="Lorem Ipsum">Lorem Ipsum</option>
          <option value="Lorem Ipsum">Lorem Ipsum</option>
        </select>
      </div>
    </section>

    <!-- Botones -->
    <div class="contenedor-botones row mb-3 align-items-center">
      <div class="col-md-3 col-12">
        <button class="btn btn-volver" type="button" (click)="seguridadService.cerrarSesion()">VOLVER</button>
      </div>
      <div class="col-md-9 col-12">
        <button class="btn btn-limpiar" type="button">LIMPIAR</button>
        <button class="btn btn-agregar" type="submit">GENERAR</button>
      </div>
    </div>

  </form>
</div>


<button routerLink="/editar-reporte-tpm">VER</button>
