<div class="form-container">
  <form [formGroup]="contenedorFormulario">
    <h2>Crear nuevo reporte</h2>

    @if (subestaciones && lineasTransmision && supervisores && tecnicosTLT) {
    <section class="row mb-3 align-items-center">
      <label class="col-md-4">LINEA DE TRANSMISION:</label>
      <div class="col-md-8">
        <select [formControl]="contenedorFormulario.controls.lineaTransmisionId">
          @for (linea of lineasTransmision; track $index) {

          <option value={{linea.id}}>
            <span>{{linea.identificador}}</span>
            {{linea.nombreUbicacion}}
          </option>
          }
        </select>
      </div>
    </section>

    <section class="row mb-3 align-items-center">
      <label class="col-md-4">SUBESTACIONES ASOCIADAS:</label>
      <div class="col-md-8">
        <select [formControl]="contenedorFormulario.controls.subestacionA">
          @for (subestacion of subestaciones; track $index) {

          <option value={{subestacion.id}}>
            <span>{{subestacion.identificador}}</span>
            {{subestacion.nombreUbicacion}}
          </option>
          }
        </select>
      </div>
      <div class="col-md-8">
        <select [formControl]="contenedorFormulario.controls.subestacionB">
          @for (subestacion of subestaciones; track $index) {

          <option value={{subestacion.id}}>
            <span>{{subestacion.identificador}}</span>
            {{subestacion.nombreUbicacion}}
          </option>
          }
        </select>
      </div>
    </section>

    <section class="row mb-3 align-items-center">
      <label class="col-md-4">Supervisor:</label>
      <div class="col-md-8">
        <select [formControl]="contenedorFormulario.controls.usuarioSupervisorId">
          @for (supervisor of supervisores; track $index) {

            <option value={{supervisor.id}}>
              <span>{{supervisor.identificador}}</span>
              {{supervisor.nombre}} {{supervisor.apellido}}
            </option>
            }
        </select>
      </div>
    </section>

    <section class="row mb-3 align-items-center">
      <label class="col-md-4">Técnico de Línea:</label>
      <div class="col-md-8">
        <select [formControl]="contenedorFormulario.controls.tecnicoLineaId">
          @for (tecnicoTLT of tecnicosTLT; track $index) {

            <option value={{tecnicoTLT.id}}>
              <span>{{tecnicoTLT.identificador}}</span>
              {{tecnicoTLT.nombre}} {{tecnicoTLT.apellido}}
            </option>
            }
        </select>
      </div>
    </section>

    <div class="contenedor-botones row mb-3 align-items-center">
      <!-- <div class="col-md-3 col-12">
        <button class="btn btn-volver" type="button" (click)="seguridadService.cerrarSesion()">VOLVER</button>
      </div> -->
      <div class="col-md-9 col-12">
        <button class="btn btn-limpiar" type="button"
        (click)="accionesFormulario.limpiarFormulario(contenedorFormulario)">LIMPIAR</button>
        <button class="btn btn-agregar" type="submit"
        [disabled]="contenedorFormulario.invalid">GENERAR</button>
      </div>
    </div>
    }
    
    @else { 
      <animacion-carga></animacion-carga>
    }

  </form>
</div>


<button routerLink="/editar-reporte-tpm">VER</button>