body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  color: #333;
}

.form-check-label {
  margin-left: 10px;
}


.btn {
  margin: 20px 0;
  cursor: pointer
}
button.btn-volver {
  background-color: #545454;
  color: white;
}

button.btn-limpiar, button.btn-enviar {
  background-color: #ffd600;
  color: black;
  font-weight:bolder
}  
