<h1>Agregar Unidad Regional</h1>

<div>
    <form >
        <section>
            <label>IDENTIFICADOR</label>
            <input type="text" placeholder="Inserte un identificador único">
        </section>

        <section>
            <label>NOMBRE</label>
            <input type="text" placeholder="Inserte un nombre de ubicación">
        </section>

        <section>
            <label>SUPERVISOR ASIGNADO</label>
            <select>
                <option value="">Saúl</option>
                <option value="">Álvaro</option>
                <option value="">Daniel</option>
            </select>
        </section>

        <section>
            <label>SUBESTACIONES ASOCIADAS</label>
            <select>
                <option value="">Turrialba</option>
                <option value="">Desamparados</option>
            </select>
        </section>

        <div class="contenedor-botones">

            <button mat-stroked-button type="button" routerLink="/menu-administrador">VOLVER</button>
            
            <section> 
                <button mat-stroked-button type="button">LIMPIAR</button>
                <button mat-stroked-button type="submit" >GUARDAR</button>
            </section>
        </div>

    </form>


</div>
