<div id="page-container">
  <div id="content-wrap">
    <div class="container-fluid">
      <header class="text-center my-4">
        <h1>BIENVENIDO, SUPERVISOR MARIO VARGAS</h1>
        <button class="btn btn-warning float-end me-4" (click)="seguridadService.cerrarSesion()">SALIR</button>
      </header>

      <h4 class="text-center mb-4">Reportes</h4>

      <section class="row justify-content-center">
        <!-- Reportes Pendientes -->
        <div class="col-md-4">
          <div class="card text-center shadow-sm mb-4">
            <div class="card-header bg-light">
              <p class="mb-0">PENDIENTES</p>
            </div>
            <div class="card-body">

              <!-- Iterar sobre reportes para observar el editar-reporte -->
              <div *ngFor="let reporte of reportes" class="reporte-item mb-3" (click)="irAEditar(reporte.id)">
                <p><strong>{{ reporte.nombre }}</strong></p>
                <p class="text-muted">ID Reporte: {{ reporte.id }}</p>
              </div>
              <!--    Fin   -->

              <div class="reporte-item mb-3">
                <p><strong>Guápiles - San José</strong></p>
                <p class="text-muted">ID Reporte: 146621F</p>
              </div>
              <div class="reporte-item">
                <p><strong>Río Macho - Paraíso</strong></p>
                <p class="text-muted">ID Reporte: 9549T</p>
              </div>

              <div class="reporte-item">
                <p><strong>Río Macho - Paraíso</strong></p>
                <p class="text-muted">ID Reporte: 9549T</p>
              </div>


              <div class="reporte-item">
                <p><strong>Río Macho - Paraíso</strong></p>
                <p class="text-muted">ID Reporte: 9549T</p>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-warning" routerLink="/consultar-reporte">VER MÁS</button>
            </div>
          </div>
        </div>

        <!-- Reportes Pasados -->
        <div class="col-md-4">
          <div class="card text-center shadow-sm mb-4">
            <div class="card-header bg-light">
              <p class="mb-0">PASADOS</p>
            </div>
            <div class="card-body">
              <div class="reporte-item mb-3">
                <p><strong>Desamparados - Río Macho</strong></p>
                <p class="text-muted">1 de Junio de 2024</p>
              </div>
              <div class="reporte-item">
                <p><strong>Turrialba - Río Macho</strong></p>
                <p class="text-muted">5 de Marzo de 2024</p>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-warning">VER MÁS</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <footer id="footer" class="text-center mt-4">
    <p>Instituto Costarricense de Electricidad</p>
  </footer>
</div>